/* @tailwind base; */

/* styles/CollapsibleCard.module.css */
.card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  /* max-width: 300px; */
}

.header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header img {
  border-radius: 50%;
  border-width: 1px;
  border: solid #cccccc;
  margin-right: 16px;
}
